{% extends "base.html" %}
{% block content %}
  <div
    class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg"
    role="region"
    aria-labelledby="titulo-login"
  >
    <h2 id="titulo-login" class="text-2xl font-bold text-center mb-6">Entrar na sua Conta</h2>
    <form action="" method="post" novalidate aria-describedby="desc-login">
      <p id="desc-login" class="sr-only">Todos os campos marcados como obrigatório precisam ser preenchidos.</p>
      {{ form.hidden_tag() }}
      <div class="mb-4">
        {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2", **{"data-required": "true"}) }}
        {{ form.username(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", size=32, autocomplete="username", aria_required="true") }}
        {% for error in form.username.errors %}
          <p class="text-red-500 text-xs italic" role="alert">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mb-6">
        {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2", **{"data-required": "true"}) }}
        {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", size=32, autocomplete="current-password", aria_required="true") }}
        {% for error in form.password.errors %}
          <p class="text-red-500 text-xs italic" role="alert">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          {{ form.remember_me() }}
          {{ form.remember_me.label(class="ml-2 text-sm text-gray-600") }}
        </div>
        {{ form.submit(class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer") }}
      </div>
    </form>
  </div>
{% endblock %}
